# Recommendations with IBM

In this notebook, you will be putting your recommendation skills to use on real data from the IBM Watson Studio platform. 


You may either submit your notebook through the workspace here, or you may work from your local machine and submit through the next page.  Either way assure that your code passes the project [RUBRIC](https://review.udacity.com/#!/rubrics/2322/view).  **Please save regularly.**

By following the table of contents, you will build out a number of different methods for making recommendations that can be used for different situations. 


## Table of Contents

I. [Exploratory Data Analysis](#Exploratory-Data-Analysis)<br>
II. [Rank Based Recommendations](#Rank)<br>
III. [User-User Based Collaborative Filtering](#User-User)<br>
IV. [Content Based Recommendations (EXTRA - NOT REQUIRED)](#Content-Recs)<br>
V. [Matrix Factorization](#Matrix-Fact)<br>
VI. [Extras & Concluding](#conclusions)

At the end of the notebook, you will find directions for how to submit your work.  Let's get started by importing the necessary libraries and reading in the data.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import project_tests as t
import pickle

%matplotlib inline

df = pd.read_csv('data/user-item-interactions.csv')
df_content = pd.read_csv('data/articles_community.csv')
del df['Unnamed: 0']
del df_content['Unnamed: 0']

# Show df to get an idea of the data
df.head()

,article_id,title,email
0,1430.0,"using pixiedust for fast, flexible, and easier...",ef5f11f77ba020cd36e1105a00ab868bbdbf7fe7
1,1314.0,healthcare python streaming application demo,083cbdfa93c8444beaa4c5f5e0f5f9198e4f9e0b
2,1429.0,use deep learning for image classification,b96a4f2e92d8572034b1e9b28f9ac673765cd074
3,1338.0,ml optimization using cognitive assistant,06485706b34a5c9bf2a0ecdac41daf7e7654ceb7
4,1276.0,deploy your python model as a restful api,f01220c46fc92c6e6b161b1849de11faacd7ccb2

In [4]:
# Show df_content to get an idea of the data
df_content.head()

,doc_body,doc_description,doc_full_name,doc_status,article_id
0,Skip navigation Sign in SearchLoading...\r\n\r...,Detect bad readings in real time using Python ...,Detect Malfunctioning IoT Sensors with Streami...,Live,0
1,No Free Hunch Navigation * kaggle.com\r\n\r\n ...,"See the forest, see the trees. Here lies the c...",Communicating data science: A guide to present...,Live,1
2,☰ * Login\r\n * Sign Up\r\n\r\n * Learning Pat...,Here’s this week’s news in Data Science and Bi...,"This Week in Data Science (April 18, 2017)",Live,2
3,"DATALAYER: HIGH THROUGHPUT, LOW LATENCY AT SCA...",Learn how distributed DBs solve the problem of...,DataLayer Conference: Boost the performance of...,Live,3
4,Skip navigation Sign in SearchLoading...\r\n\r...,This video demonstrates the power of IBM DataS...,Analyze NY Restaurant data using Spark in DSX,Live,4

### <a class="anchor" id="Exploratory-Data-Analysis">Part I : Exploratory Data Analysis</a>

Use the dictionary and cells below to provide some insight into the descriptive statistics of the data.

`1.` What is the distribution of how many articles a user interacts with in the dataset?  Provide a visual and descriptive statistics to assist with giving a look at the number of times each user interacts with an article.

In [6]:
# Get some more content of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45993 entries, 0 to 45992
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   article_id  45993 non-null  float64
 1   title       45993 non-null  object
 2   email       45976 non-null  object
dtypes: float64(1), object(2)
memory usage: 1.1+ MB

In [7]:
df_content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056 entries, 0 to 1055
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   doc_body         1042 non-null   object
 1   doc_description  1053 non-null   object
 2   doc_full_name    1056 non-null   object
 3   doc_status       1056 non-null   object
 4   article_id       1056 non-null   int64
dtypes: int64(1), object(4)
memory usage: 41.4+ KB

Some data of `email` in the `df` dataframe appears to be missing. Same applies to `doc_body` and `doc_description` in `df_content`. `article_id` seems to be the key field between the two tables, where `df` is the data table and `df_content` probably the lookup table.

In [9]:
# Check missing emails in df
df[df['email'].isnull()]

       article_id                                              title email
25131      1016.0  why you should master r (even if it might even...   NaN
29758      1393.0                       the nurse assignment problem   NaN
29759        20.0  working interactively with rstudio and noteboo...   NaN
29760      1174.0      breast cancer wisconsin (diagnostic) data set   NaN
29761        62.0  data visualization: the importance of excludin...   NaN
35264       224.0                   using apply, sapply, lapply in r   NaN
35276       961.0                     beyond parallelize and collect   NaN
35277       268.0                      sector correlations shiny app   NaN
35278       268.0                      sector correlations shiny app   NaN
35279       268.0                      sector correlations shiny app   NaN
35280       268.0                      sector correlations shiny app   NaN
35281       415.0  using machine learning to predict value of hom...   NaN
35282       846.0        pearson correlation aggregation on sparksql   NaN
35283       268.0                      sector correlations shiny app   NaN
35284       162.0  an introduction to stock market data analysis ...   NaN
42749       647.0                 getting started with apache mahout   NaN
42750       965.0  data visualization playbook: revisiting the ba...   NaN

In [10]:
# Check missing doc_body in df_content
df_content[df_content['doc_body'].isnull()]

,doc_body,doc_description,doc_full_name,doc_status,article_id
206,NaN,Watch how to convert XML data to CSV format to...,Load XML data into dashDB,Live,206
276,NaN,Love to work in Microsoft Excel? Watch how to ...,Integrate dashDB with Excel,Live,276
484,NaN,See how to evaluate and convert your DDL and S...,Convert IBM Puredata for Analytics to dashDB,Live,483
508,NaN,Watch how to generate SQL-based reports for Cl...,Use dashDB with IBM Embeddable Reporting Service,Live,507
540,NaN,Need to move some data to the cloud for wareho...,Convert data from Oracle to dashDB,Live,539
638,NaN,See how to create a new dashDB instance and po...,Load JSON from Cloudant database into dashDB,Live,637
667,NaN,"See how to connect dashDB, as a source and tar...",Integrate dashDB and Informatica Cloud,Live,666
706,NaN,Aginity Workbench is a free application known ...,Use Aginity Workbench for IBM dashDB,Live,704
842,NaN,Learn how to configure a dashDB connection in ...,Leverage dashDB in Cognos Business Intelligence,Live,839
876,NaN,See how to populate data into a table in your ...,Load data from the desktop into dashDB,Live,873
889,NaN,Watch how to apply association rules using R t...,Perform market basket analysis using dashDB and R,Live,886
947,NaN,Watch how to extract and export dashDB data to...,Extract and export dashDB data to a CSV file,Live,944
1037,NaN,See how quick and easy it is to set up a dashD...,Get started with dashDB on Bluemix,Live,1032
1054,NaN,Learn how to use IBM dashDB as data store for ...,Use dashDB with Spark,Live,1049

In [11]:
# Check missing doc_body in df_content
df_content[df_content['doc_description'].isnull()]

,doc_body,doc_description,doc_full_name,doc_status,article_id
354,The search index lets you create flexible quer...,NaN,Build the search index in Cloudant,Live,354
768,Compose The Compose logo Articles Sign in Free...,NaN,Announcing the Data Browser for JanusGraph,Live,765
919,Cloudant Query is a powerful declarative JSON ...,NaN,Use the new Cloudant query,Live,916

**During the exploratory data analysis it needs to be evaluated if and how to deal with these missing values.**

In [12]:
# How many unique article IDs are in df?
df.article_id.nunique()

714

In [13]:
# Are there duplicate article_ids in df_content?
df_content.article_id.nunique()

1051

In [14]:
df_content.article_id.value_counts().head(10)

221    2
232    2
577    2
398    2
50     2
356    1
355    1
354    1
353    1
345    1
Name: article_id, dtype: int64